Description: Loading the data.

In [1]:
# The code was removed by Watson Studio for sharing.

,eomdate,salesregion,budgettype,productcode,iirp,profitcentercode,type,source,ayear,ryear,...,caseloss,casealae,ccrptd,ccopen,alae,incurred,paid,capped,pyear,LLIndicator
0,44377,Great Lakes,Yellow Bus,1026,0,1110,D,Post,2013,2013,...,0.0,0.0,1,0,60.00,1522.81,1522.81,1522.81,2012,0
1,44377,Great Lakes,Yellow Bus,1026,0,1110,D,Post,2013,2013,...,0.0,0.0,1,0,100.00,980.72,980.72,980.72,2012,0
2,44377,Great Lakes,Yellow Bus,1026,0,1110,D,Post,2013,2013,...,0.0,0.0,1,0,9613.05,9613.05,9613.05,9613.05,2013,0
3,44377,Great Lakes,Yellow Bus,1026,0,1110,D,Post,2013,2013,...,0.0,0.0,1,0,100.00,2270.13,2270.13,2270.13,2013,0
4,44377,Great Lakes,Yellow Bus,1026,0,1110,D,Post,2013,2013,...,0.0,0.0,1,0,1949.28,1949.28,1949.28,1949.28,2012,0