Description: Loading the data.

In [1]:

import os, types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.

if os.environ.get('RUNTIME_ENV_LOCATION_TYPE') == 'external':
    endpoint_e48be303b4e14150a2999a705a1b31ed = 'https://s3.us.cloud-object-storage.appdomain.cloud'
else:
    endpoint_e48be303b4e14150a2999a705a1b31ed = 'https://s3.private.us.cloud-object-storage.appdomain.cloud'

client_e48be303b4e14150a2999a705a1b31ed = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='gKoiNXl9sxPZwCDB9jJYOh8gaCeCBniq-Nl_5I_xF2ev',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url=endpoint_e48be303b4e14150a2999a705a1b31ed)

body = client_e48be303b4e14150a2999a705a1b31ed.get_object(Bucket='yuedsproject-donotdelete-pr-xrzhwr5mtthxvz',Key='CLD01ITD.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_1 = pd.read_csv(body)
df_data_1.head()

,eomdate,salesregion,budgettype,productcode,iirp,profitcentercode,type,source,ayear,ryear,...,caseloss,casealae,ccrptd,ccopen,alae,incurred,paid,capped,pyear,LLIndicator
0,44377,Great Lakes,Yellow Bus,1026,0,1110,D,Post,2013,2013,...,0.0,0.0,1,0,60.00,1522.81,1522.81,1522.81,2012,0
1,44377,Great Lakes,Yellow Bus,1026,0,1110,D,Post,2013,2013,...,0.0,0.0,1,0,100.00,980.72,980.72,980.72,2012,0
2,44377,Great Lakes,Yellow Bus,1026,0,1110,D,Post,2013,2013,...,0.0,0.0,1,0,9613.05,9613.05,9613.05,9613.05,2013,0
3,44377,Great Lakes,Yellow Bus,1026,0,1110,D,Post,2013,2013,...,0.0,0.0,1,0,100.00,2270.13,2270.13,2270.13,2013,0
4,44377,Great Lakes,Yellow Bus,1026,0,1110,D,Post,2013,2013,...,0.0,0.0,1,0,1949.28,1949.28,1949.28,1949.28,2012,0